save-exact=true
# A opção acima no arquivo .npmrc permite fixar as versões exatas das dependências instaladas no projeto, garantindo estabilidade e consistência do ambiente de desenvolvimento e produção, prevenindo problemas de compatibilidade e incompatibilidade entre as versões das dependências. Além disso, esta configuração ajuda a evitar problemas de segurança, pois impede a instalação de versões vulneráveis das dependências.